
#chart canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#chart2 canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#chart3 canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}